<div class="columns">

    <div class="column is-12">
<h1>Welkom bij Hardware Reserving Systeem van de HU</h1>
<p>
    Met dit hardwarereserveringsysteem kun je op elk moment hardware reserveren. Selecteer een hardware via de pagina 'Lenen'.
</p>
<p>
    Wil je een lening annuleren, neem dan contact op met de beheerder.
</p>
<p>
    Zorg dat je deze link op slaat onder je favorieten: <b>www.huhardwarereserveren.nl</b>. Andere versies van de link zijn aan verandering onderhevig en kunnen daardoor niet (meer) werken.
</p>
    </div>
</div>